@font-face {
	font-family: 'BazaART'; 
	src: url(../fonts/BazaArt.otf); 
}

@font-face {
	font-family: 'Manrope'; 
	src: url(../fonts/Manrope.ttf); 
}

body {
    margin: 0;
    background-color: #F3F3EE;
}


.contanier-task {
    padding-left: 200px;
    padding-right: 200px;
}

.contanier-task-flex {
    display: flex;
    justify-content: space-between;
}

.contanier-task-flex >div>h1 {
    color: #554534;
    font-size: 128px;
    font-family: 'BazaART'; 
    font-weight: lighter;
    margin: 0;
    margin-top: 120px;
    
}

.contanier-task-flex >div>p {
    font-size: 28px;
    font-family: 'Manrope'; 
    font-weight: 500;
    color: #40464D;
    width: auto;
    line-height: 48px;
    padding-right: 100px;
}

.contanier-task-flex >div>img {
    margin-top: 152px;
}

.about-us {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

.img-about-us {
    width: 100%;
}

.fon-abs {
    z-index: -1;
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
}

.photos-abt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    bottom: 550px;
    align-items: center;
    z-index: 1;
    margin-bottom: -450px;
    
    }
    
    .image-container {
    flex: 1; 
    padding: 10px;
    
    }
    
    .image-container img {
    display: block;
    width: 100%;
    height: auto;
    }




.contanier-ui {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-bottom: 150px;
}

.contanier-ui>h1 {
    font-family: 'BazaART';
    font-size: 128px;
    color: #554534;
    font-weight: 400;
    margin: 0;
    margin-bottom: 50px;
}

.colors {
    margin: 50px 0;
    width: 100%;
}


.img-elements {
    width: 100%;
}


.contanier-location {
    background-image: url("../img/fon2.png");
    background-size: 100%;
	background-repeat: no-repeat;
    padding-top: 620px;
    padding-right: 200px;
    padding-left: 200px;
    position: relative;
}

.phone1 {
    position: absolute;
    top: 1250px;
    left: 5%;
}

.img-map {
    width: 100%;
}

.layouts {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.layouts > h2 {
    color: #554534;
    font-family: 'Manrope'; 
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
}

.layouts > h1 {
    color: #554534;
    font-family: 'BazaART';
    font-weight: 400;
    font-size: 128px;
    width: 1134px;
    line-height: 130px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
}

.layouts > div {
    display: flex;
    justify-content: space-between;
}

.img-criteria {
    width: 340px;
    height: 464px;
}

.img-rooms {
    width: 745px;
    height: 745px;
    margin: 0 50px;
}

.btn {
    background-color: #F5574E;
    width: 240px;
    height: 61px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Manrope'; 
    font-weight: 800;
    margin-top: 50px;
}

.social {
    display: flex;
    justify-content: space-between;
}

.share-h3 {
    font-family: 'Manrope'; 
    font-size: 24px;
    color: #40464D;
    text-align: left;
    padding-top: 50px;
    font-weight: 600;
}

.estate {
    position: relative;
    background-color: #554534;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.estate > h2 {
    color: #EBE9DD;
    font-family: 'Manrope'; 
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
}

.estate > h1 {
    color: #F3F3EE;
    font-family: 'BazaART';
    font-weight: 400;
    font-size: 128px;
    line-height: 130px;
    padding-bottom: 50px;
    margin: 0;
    padding: 0;
}

.h1-2 {
    text-align: right;
}

.pros {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.pros div {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 476px;
    border: solid 1px rgba(255, 255, 255, 0.35);
    margin-top: 70px;
    
}

.pros div img {
    width: 60px;
    height: 60px;
    padding-right: 30px;
}

.pros div h2 {
    font-family: 'Manrope'; 
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0;

}

.photos {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 40px;
}

.img-photos {
    max-width: 997px;
    }


.floors>div {
    height:180px;
    display: flex;
    align-items: center;
}

.floors>div>h2 {
    font-family: 'BazaART';
    font-size: 128px;
    color: #F5574E;
    font-weight: 400;
}

.floors>div>h3 {
    font-family: 'Manrope';
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 40px;
}

.btn2 {
    background-color: #F5574E;
    width: 313px;
    height: 61px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Manrope'; 
    font-weight: 800;
    margin-bottom:30px ;
}

.floors>p {
    font-family: 'Manrope';
    font-size: 20px;
    color: #fdfdfd;
    font-weight: 500;
    line-height: 36px
}

.contanier-info {
    background-image: url("../img/fon3.png");
    background-size: auto;
	background-repeat: no-repeat;
    text-align: right;
    position: relative;
}


.phone3 {
    position: absolute;
    right: 200px;
    bottom: 40px;
}

.contanier-info div {
    display: flex;
    bottom: 270px;
    position: relative;
}


.phone2 {
    left: 5%;
    position: absolute;
    top: 790px;
    z-index: 1;
}

.contanier-form {
    background-color: #554534;
    padding-left: 200px;
    padding-right: 300px;
    padding-bottom: 80px;
    padding-top: 50px;
}

.contanier-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contanier-form div h1 {
    color: #F3F3EE;
    font-size: 128px;
    font-family: 'BazaART';
    width: 691px;
    font-weight: 400;
    line-height: 105px;
}

.form h2 {
    color: #EBE9DD;
    font-family: 'Manrope'; 
    font-weight: 700;
    font-size: 24px;
    margin-bottom:30px ;
}

#name {
    background: transparent;
  border: none;
  border-bottom: solid 1px #A7A8A4;
  width: 486px;
  height: 55px;
  color: #EBE9DD;
  margin-bottom:30px ;
}

#tel {
    background: transparent;
  border: none;
  border-bottom: solid 1px #A7A8A4;
  width: 486px;
  height: 55px;
  margin-bottom:30px ;
}

.btn-form {
    background-color: #F5574E;
    width: 486px;
    height: 61px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Manrope'; 
    font-weight: 800;
    margin-bottom:30px ;
}


.custom-checkbox {
position: absolute;
  z-index: -1;
  opacity: 0;
}

input::placeholder { 
    font-size: 18px;
    color: white; 
    font-family: 'Manrope'; 
}

input {
    font-size: 18px;
    color: white; 
    font-family: 'Manrope'; 
    outline:none;
}

.consultation {
    background-color: #EBE9DD;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}

.form1-abs {
    position: relative;
    bottom: 100px;
}



.thanks {
    background-color: #F3F3EE;
    
}

.thanks h1 {
    font-family: 'BazaART'; 
    font-size: 128px;
    font-weight: 400;
    color: #554534;
    text-align: center;
}








@media (max-width : 768px) { 

    main {
        max-width: 768px;
    }
    
    .contanier-task {
        padding-left: 30px;
        padding-right: 30px;
    }


    .contanier-task-flex {
        display: block;
        justify-items: center;
    }
    
    .contanier-task-flex >div>h1 {
        font-size: 64px;
        margin: 0;
        margin-top: 30px;
        text-align: center;
        
    }
    
    .contanier-task-flex >div>p {
        font-size: 16px;
        width: auto;
        line-height: 28px;
        padding: 0;
    }
    
    .contanier-task-flex >div>img {
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }
    
    .about-us {
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;
        position: relative;
        padding: 0 10px;
    }
    
    .img-about-us {
    width: 100%;
    margin-top: 100px;
    }

    .fon-abs {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    
    .contanier-ui {
        text-align: center;
        padding-bottom: 50px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .contanier-ui>h1 {
        font-size: 64px;
        margin: 0;
        margin-bottom: 0px;
    }
    
    .colors {
        margin: 20px 0;
        width: 100%;
    }
    
    .img-elements {
        width: 100%;
    }

    
    .contanier-location {
        background-size: auto;
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    
    .phone1 {
        position: relative;
        top: 0px;
        left: 65px;
        width: 70%;
    }

    .img-map {
        width: 100%;
        padding-bottom: 50px;
    }

    
    .layouts {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .layouts > h2 {
        font-size: 10px;
        letter-spacing: 10px;
        text-align: center;
    }
    
    .layouts > h1 {
        font-size: 64px;
        width: auto;
        line-height: 70px;
        padding-bottom: 30px;
    }
    
    .layouts > div {
        display:  inline-block;
        text-align: center;
        
    }
    
    .img-criteria {
        width: 200px;
        height: auto;
        padding-bottom: 30px;
        text-align: center;
    }
    
    .img-rooms {
        width: 300px;
        height: 300px;
        margin: 0 0px;
        padding-bottom: 30px;
    }
    
    .btn {
        background-color: #F5574E;
        width: 150px;
        height: auto;
        border: none;
        color: white;
        font-size: 13px;
        font-family: 'Manrope'; 
        font-weight: 800;
        
    }
    
    .social {
        display: flex;
        justify-content: space-between;
    }
    
    .share-h3 {
        font-size: 16px;
        text-align: left;
        padding-top: 30px;
        font-weight: 600;
    }
    
    .estate {
        position: relative;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .estate > h2 {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 10px;
        text-align: center;
    }
    
    .estate > h1 {
        font-weight: 400;
        font-size: 64px;
        line-height: 70px;
        padding-bottom: 50px;
        margin: 0;
        padding: 0;
    }
    
    .h1-2 {
        text-align: right;
    }
    
    .pros {
        display: block;
    
    }
    
    .pros div {
        display: flex;
        align-items: center;
        padding: 10px;
        width: 100%;
        margin-top: 30px;
        box-sizing: border-box;
        
    }
    
    .pros div img {
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }
    
    .pros div h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    
    }

    .floors>p {
        font-size: 16px;
    }


    .photos {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    
    .img-into {
        width: 100%;
    }

    .img-photos {
    width: 100%;
    }


    .contanier-info {
        background-image: url("../img/fon3.png");
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .phone3 {
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 50%;
    }
    
    .contanier-info div {
        display: block;
        bottom: 0px;
        position: relative;
    }
    
    .discount {
        width: 90%;
    }

    .commerce {
        width: 90%;
    }


    .phone2 {
        left: 65;
        position: relative;
        top: 0px;
        width: 70%;
        
    }
    
    .contanier-form {
        padding: 30px;
    }
    
    .contanier-form div {
        display: block;
        align-items: center;
    }
    
    .contanier-form div h1 {
        font-size: 64px;
        font-family: 'BazaART';
        width: 100%;
        line-height: 70px;
    }
    
    .form h2 {
        font-family: 'Manrope'; 
        font-weight: 700;
        font-size: 24px;
        margin-bottom:30px ;
    }
    
    #name {
      width: 100%;
    }
    
    #tel {
        width: 100%;
    }
    
    .btn-form {
        width: 100%;
    }
    
    
    .consultation {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        padding-bottom: 100px;
    }
    
    .form1-abs {
        position: relative;
        bottom: 0px;
        width: 100%;
    }
    
    .empty {
        width: 0px;
    }
    
    .thanks {
        background-color: #F3F3EE;
        
    }
    
    .img-form2 {
        width: 100%;
        padding-top: 40px;
    }

    .img-form3 {
        width: 100%;
        padding-top: 40px;
    }

    .thanks h1 {
        font-size: 54px;
        font-weight: 400;
    }

    .photos-abt {
        flex-wrap: wrap;
        position: relative;
        bottom: 150px;
        align-items: center;
        margin-bottom: -100px;
        }

    .btn2 {
        width: 250px;
    }
}




@media (max-width : 1570px) and (min-width: 768px) {
    main {
        max-width: 1570px;
    }
    
    .contanier-task {
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 50px;
    }


    .contanier-task-flex {
        display: flex;
        justify-items: center;
    }
    
    .contanier-task-flex >div>h1 {
        font-size: 74px;
        margin: 0;
        margin-top: 30px;
        text-align: left;
        
    }
    
    .contanier-task-flex >div>p {
        font-size: 20px;
        width: auto;
        line-height: 28px;
        
    }
    
    .contanier-task-flex >div>img {
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }
    
    .about-us {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        position: relative;
        padding-left: 130px;
        padding-right: 130px;
    }
    
    .img-about-us {
    width: 100%;
    margin-top: 160px;
    position: relative;
    }


    .fon-abs {
        z-index: -1;
        position: absolute;
        top: -80px;
        left: 0px;
        width: 100%;
    }
    
    .contanier-ui {
        text-align: center;
        padding-bottom: 50px;
        padding-left: 130px;
        padding-right: 130px;
    }
    
    .contanier-ui>h1 {
        font-size: 74px;
        margin: 0;
        margin-bottom: 0px;
    }
    
    .colors {
        margin: 20px 0;
        width: 100%;
    }
    
    .img-elements {
        width: 100%;
    }

    
    .contanier-location {
        background-size: auto;
        padding-top: 100px;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 50px;
    }
    
    .phone1 {
        position: absolute;
        top: 550px;
        left: 30px;
        width: 22%;
    }

    .img-map {
        width: 100%;
        padding-bottom: 50px;
    }

    
    .layouts {
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .layouts > h2 {
        font-size: 10px;
        letter-spacing: 10px;
        text-align: center;
    }
    
    .layouts > h1 {
        font-size: 64px;
        width: auto;
        line-height: 70px;
        padding-bottom: 30px;
    }
    
    .layouts > div {
        display:  flex;
        text-align: center;
        
    }
    
    .img-criteria {
        width: 260px;
        height: auto;
        padding-bottom: 30px;
        text-align: center;
    }
    
    .img-rooms {
        width: 450px;
        height: 450px;
        margin: 0 0px;
        padding-bottom: 30px;
    }

    .img-sides {
        width: 100%;
    }
    
    .btn {
        width: 240px;
        height: 40px;
        font-size: 16px;

        
    }
    
    .social {
        display: flex;
        justify-content: space-between;
    }
    
    .share-h3 {
        font-size: 16px;
        text-align: left;
        padding-top: 30px;
        font-weight: 600;
    }
    
    .estate {
        position: relative;
        padding-left: 130px;
        padding-right: 130px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .estate > h2 {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 10px;
        text-align: center;
    }
    
    .estate > h1 {
        font-weight: 400;
        font-size: 74px;
        line-height: 70px;
        padding-bottom: 50px;
        margin: 0;
        padding: 0;
    }
    
    .h1-2 {
        text-align: right;
    }
    
    .pros {
        display: flex;
    
    }
    
    .pros div {
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin-top: 30px;
        
    }
    
    .pros div img {
        width: 50px;
        height: 50px;
        padding-right: 15px;
    }
    
    .pros div h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    
    }
    
    .photos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 40px;
        gap: 40px;
    }
    
    .img-into {
        width: 100%;
    }

    .img-photos {
    width: 70%;
    }


    .contanier-info {
        background-image: url("../img/fon3.png");
        background-size: auto;
        background-repeat: no-repeat;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .commerce {
        width: 100%;
    }

    .discount {
        width: 95%;
    }

    .phone2 {
        left: 80px;
        position: absolute;
        top: 500px;
        width: 22%;
    }
    
    .contanier-form {
        padding-left: 130px;
        padding-right: 130px;
    }
    
    .contanier-form div {
        display: flex;
        align-items: center;
    }
    
    .contanier-form div h1 {
        font-size: 74px;
        font-family: 'BazaART';
        width: 100%;
        line-height: 70px;
    }
    
    .form h2 {
        font-family: 'Manrope'; 
        font-weight: 700;
        font-size: 24px;
        margin-bottom:30px ;
    }
    
    #name {
      width: 100%;
    }
    
    #tel {
        width: 100%;
    }
    
    .btn-form {
        width: 100%;
    }
    
    
    .consultation {
        display: flex;
        padding-left: 130px;
        gap: 30px;
        padding-right: 130px;
        position: relative;
        padding-bottom: 100px;
    }
    
    .form1-abs {
        position: relative;
        bottom: 0px;
        width: 300px;
    }
    
    .thanks {
        background-color: #F3F3EE;
        
    }
    
    .img-form2 {
        width: 400px;
    }

    .img-form3 {
        width: 300px;
    }

    .thanks h1 {
        font-size: 54px;
        font-weight: 400;
    }

    .phone3 {
        width: 20%;
        right: 0;
    }

    .photos-abt {
        bottom: 450px;
    }


}


@media (max-width : 1750px) and (min-width: 1570px) {

    .main {
        max-width : 1750px;
        min-width: 1570px;
    }


    .img-rooms {
        width: 300px;
        height: 300px;
    }

    .img-sides {
        width: 100px;
    }

    .img-into {
        width: 100%;
    }

    .consultation {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .empty {
       width: 10px;
    }

    .form1-abs {
        position: relative;
        width: 500px;
        bottom: 100px;
    }

    .img-form2 {
        width: 400px;
    }

    .img-form3 {
        width: 300px;
    }


.phone2 {
        left: 80px;
        position: absolute;
        top: 1000px;
        width: 22%;
    }


}

@media (max-width : 1400px) and (min-width: 768px) {

    .layouts > div {
        display: inline-block;
    }

    .img-sides {
        width: 200px;
    }

    .social {
        justify-content: left;
    }

    .consultation {
        display: inline-block;
        
       
    }

    
    .floors>div>h2 {
        font-size: 84px;
    }
    
    .floors>div>h3 {
        font-size: 20px;
        padding: 0 20px;
    }
    
    .btn2 {
        background-color: #F5574E;
        width: 280px;
        height: 61px;
        font-size: 16px;
        margin-bottom:20px ;
    }
    
    .floors>p {
        font-size: 16px;
        color: #fdfdfd;
        font-weight: 500;
        line-height: 36px
    }

    .photos-abt {
        bottom: 350px;
        margin-bottom: -350px;
    }

    .contanier-info div {
        display: flex;
        bottom: 100px;
        position: relative;
    }

}

